In [1]:
pip install nbformat

Requirement already satisfied: nbformat in c:\users\mypc\desktop\project\.venv\capstone 1\.venv\lib\site-packages (5.10.4)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\mypc\desktop\project\.venv\capstone 1\.venv\lib\site-packages (from nbformat) (2.20.0)
Requirement already satisfied: jsonschema>=2.6 in c:\users\mypc\desktop\project\.venv\capstone 1\.venv\lib\site-packages (from nbformat) (4.22.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\mypc\desktop\project\.venv\capstone 1\.venv\lib\site-packages (from nbformat) (5.7.2)
Requirement already satisfied: traitlets>=5.1 in c:\users\mypc\desktop\project\.venv\capstone 1\.venv\lib\site-packages (from nbformat) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\mypc\desktop\project\.venv\capstone 1\.venv\lib\site-packages (from jsonschema>=2.6->nbformat) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\mypc\desktop\project\.venv\capstone 1\.venv\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\mypc\desktop\project\.venv\capstone 1\.venv\lib\site-packages (from jsonschema>=2.6->nbformat) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\mypc\desktop\project\.venv\capstone 1\.venv\lib\site-packages (from jsonschema>=2.6->nbformat) (0.18.1)
Requirement already satisfied: platformdirs>=2.5 in c:\users\mypc\desktop\project\.venv\capstone 1\.venv\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.2.2)
Requirement already satisfied: pywin32>=300 in c:\users\mypc\desktop\project\.venv\capstone 1\.venv\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (306)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import mysql.connector
import plotly.express as px
import json
import requests

In [3]:
#CONNECTION TO MYSQL
mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Raj$1006",
            database="phonepe_data",
            port="3306")
cursor = mydb.cursor()

# AGGREGATED_INSURANCE
# Using a buffered cursor
cursor = mydb.cursor(buffered=True)
try:
    cursor.execute("SELECT * FROM aggregated_insurance")
    mydb.commit()
    table1 = cursor.fetchall() 
    Aggre_insurance = pd.DataFrame(table1,columns = ("States", "Years", "Quarter", "Transaction_type", "Transaction_count", "Transaction_amount"))
finally:
    cursor.close()
    mydb.close()

# Again we are making a datframe. why? Bcoz in project they said.
#InternalError: Unread result found
#When using a cursor in MySQL, you need to fetch all the rows from the result set of one query before executing another query with the same cursor.
#  If you don't, MySQL may throw an InternalError because it's still waiting for you to read the remaining data.
# Buffered cursor --> Simplicity, error prevention, performance though large data

In [4]:
#CONNECTION TO MYSQL
mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Raj$1006",
            database="phonepe_data",
            port="3306")
cursor = mydb.cursor()

#AGGREGATED_TRANSACTION
cursor = mydb.cursor(buffered=True)
try:
    cursor.execute("SELECT * FROM aggregated_transaction")
    mydb.commit()
    table2 = cursor.fetchall()
    Aggre_transaction = pd.DataFrame(table2,columns = ("States", "Years", "Quarter", "Transaction_type", "Transaction_count", "Transaction_amount"))
finally:
    cursor.close()
    mydb.close()

In [5]:
#CONNECTION TO MYSQL
mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Raj$1006",
            database="phonepe_data",
            port="3306")
cursor = mydb.cursor()

#AGGREGATED_USER
cursor = mydb.cursor(buffered=True)
try:
    cursor.execute("SELECT * FROM aggregated_user")
    mydb.commit()
    table3 = cursor.fetchall()
    Aggre_user = pd.DataFrame(table3,columns = ("States", "Years", "Quarter", "Brands", "Transaction_count", "Percentage"))
finally:
    cursor.close()
    mydb.close()

In [6]:
#CONNECTION TO MYSQL
mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Raj$1006",
            database="phonepe_data",
            port="3306")
cursor = mydb.cursor()

#MAP_INSURANCE
cursor = mydb.cursor(buffered=True)
try:
    cursor.execute("SELECT * FROM map_insurance")
    mydb.commit()
    table4 = cursor.fetchall()
    Map_insurance = pd.DataFrame(table4,columns = ("States", "Years", "Quarter", "Districts", "Transaction_count", "Transaction_amount"))
finally:
    cursor.close()
    mydb.close()

In [7]:
#CONNECTION TO MYSQL
mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Raj$1006",
            database="phonepe_data",
            port="3306")
cursor = mydb.cursor()

#MAP_TRANSACTION
cursor = mydb.cursor(buffered=True)
try:
    cursor.execute("SELECT * FROM map_transaction")
    mydb.commit()
    table5 = cursor.fetchall()
    Map_transaction = pd.DataFrame(table5,columns = ("States", "Years", "Quarter", "District", "Transaction_count", "Transaction_amount"))
finally:
    cursor.close()
    mydb.close()

In [8]:
#CONNECTION TO MYSQL
mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Raj$1006",
            database="phonepe_data",
            port="3306")
cursor = mydb.cursor()

#MAP_USER
cursor = mydb.cursor(buffered=True)
try:
    cursor.execute("SELECT * FROM map_user")
    mydb.commit()
    table6 = cursor.fetchall()
    Map_user = pd.DataFrame(table6,columns = ("States", "Years", "Quarter", "Districts", "RegisteredUser", "AppOpens"))
finally:
    cursor.close()
    mydb.close()

In [9]:
#CONNECTION TO MYSQL
mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Raj$1006",
            database="phonepe_data",
            port="3306")
cursor = mydb.cursor()

#TOP_INSURANCE
cursor = mydb.cursor(buffered=True)
try:
    cursor.execute("SELECT * FROM top_insurance")
    mydb.commit()
    table7 = cursor.fetchall()
    Top_insurance = pd.DataFrame(table7,columns = ("States", "Years", "Quarter", "Pincodes", "Transaction_count", "Transaction_amount"))
finally:
    cursor.close()
    mydb.close()

In [10]:
#CONNECTION TO MYSQL
mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Raj$1006",
            database="phonepe_data",
            port="3306")
cursor = mydb.cursor()

#TOP_TRANSACTION
cursor = mydb.cursor(buffered=True)
try:
    cursor.execute("SELECT * FROM top_transaction")
    mydb.commit()
    table8 = cursor.fetchall()
    Top_transaction = pd.DataFrame(table8,columns = ("States", "Years", "Quarter", "Pincodes", "Transaction_count", "Transaction_amount"))
finally:
    cursor.close()
    mydb.close()

In [11]:
#CONNECTION TO MYSQL
mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Raj$1006",
            database="phonepe_data",
            port="3306")
cursor = mydb.cursor()

#TOP_USER
cursor = mydb.cursor(buffered=True)
try:
    cursor.execute("SELECT * FROM top_user")
    mydb.commit()
    table9 = cursor.fetchall()
    Top_user = pd.DataFrame(table9,columns = ("States", "Years", "Quarter", "Pincodes", "RegisteredUsers"))
finally:
    cursor.close()
    mydb.close()

In [32]:
#CONNECTION TO MYSQL
def top_chart_insurance_amount(table_name):
    mydb = mysql.connector.connect(
                host="localhost",
                user="root",
                password="Raj$1006",
                database="phonepe_data",
                port="3306")
    cursor = mydb.cursor()

    # INSURANCE AMOUNT DESC
    query1 = f'''SELECT States,sum(Insurance_amount) as Insurance_amount
                 FROM phonepe_data.{table_name}
                 group by states
                 order by Insurance_amount desc
                 limit 5;'''
    cursor.execute(query1)
    table_1=cursor.fetchall()
    mydb.commit()

    df_1=pd.DataFrame(table_1, columns=("States", "Insurance_amount"))
    fig_amount_1 = px.bar(df_1, x="States",y="Insurance_amount", title = "TOP 5 INSURANCE AMOUNT")
    fig_amount_1.show()


    #INSURANCE AMOUNT ASC
    query2 = f'''SELECT States,sum(Insurance_amount) as Insurance_amount
                 FROM phonepe_data.{table_name}
                 group by states
                 order by Insurance_amount asc
                 limit 5;'''
    cursor.execute(query2)
    table_2=cursor.fetchall()
    mydb.commit()

    df_2=pd.DataFrame(table_2, columns=("States", "Insurance_amount"))
    fig_amount_2 = px.bar(df_2, x="States",y="Insurance_amount", title = "LAST 5 INSURANCE AMOUNT")
    fig_amount_2.show()


    #INSURANCE AMOUNT AVERAGE
    query3 = f'''SELECT States,avg(Insurance_amount) as Insurance_amount
                 FROM phonepe_data.{table_name}
                 group by states
                 order by Insurance_amount;'''
    cursor.execute(query3)
    table_3=cursor.fetchall()
    mydb.commit()

    df_3=pd.DataFrame(table_3, columns=("States", "Insurance_amount"))
    fig_amount_3 = px.bar(df_3, x="States",y="Insurance_amount", title = "AVERAGE INSURANCE AMOUNT")
    fig_amount_3.show()

In [36]:
#CONNECTION TO MYSQL
def top_chart_insurance_count(table_name):
    mydb = mysql.connector.connect(
                host="localhost",
                user="root",
                password="Raj$1006",
                database="phonepe_data",
                port="3306")
    cursor = mydb.cursor()

    # INSURANCE COUNT DESC
    query1 = f'''SELECT States,sum(Insurance_count) as Insurance_count
                 FROM phonepe_data.{table_name}
                 group by states
                 order by Insurance_count desc
                 limit 5;'''
    cursor.execute(query1)
    table_1=cursor.fetchall()
    mydb.commit()

    df_1=pd.DataFrame(table_1, columns=("States", "Insurance_count"))
    fig_amount_1 = px.bar(df_1, x="States",y="Insurance_count", title = "TOP 5 INSURANCE COUNT")
    fig_amount_1.show()


    #INSURANCE COUNT ASC
    query2 = f'''SELECT States,sum(Insurance_count) as Insurance_count
                 FROM phonepe_data.{table_name}
                 group by states
                 order by Insurance_count asc
                 limit 5;'''
    cursor.execute(query2)
    table_2=cursor.fetchall()
    mydb.commit()

    df_2=pd.DataFrame(table_2, columns=("States", "Insurance_count"))
    fig_amount_2 = px.bar(df_2, x="States",y="Insurance_count", title = "LAST 5 INSURANCE COUNT")
    fig_amount_2.show()


    #INSURANCE COUNT AVERAGE
    query3 = f'''SELECT States,avg(Insurance_count) as Insurance_count
                 FROM phonepe_data.{table_name}
                 group by states
                 order by Insurance_count;'''
    cursor.execute(query3)
    table_3=cursor.fetchall()
    mydb.commit()

    df_3=pd.DataFrame(table_3, columns=("States", "Insurance_count"))
    fig_amount_3 = px.bar(df_3, x="States",y="Insurance_count", title = "AVERAGE INSURANCE COUNT")
    fig_amount_3.show()

In [ ]:
#CONNECTION TO MYSQL
def top_chart_registered_user(table_name,state):
    mydb = mysql.connector.connect(
                host="localhost",
                user="root",
                password="Raj$1006",
                database="phonepe_data",
                port="3306")
    cursor = mydb.cursor()

    # INSURANCE AMOUNT DESC
    query1 = f'''SELECT Districts, sum(RegisteredUser) as RegisteredUser
                    FROM phonepe_data.{table_name}
                    where states= {state}
                    group by districts
                    order by RegisteredUser desc
                    limit 5;'''
    cursor.execute(query1)
    table_1=cursor.fetchall()
    mydb.commit()

    df_1=pd.DataFrame(table_1, columns=("districts", "RegisteredUser"))
    fig_amount_1 = px.bar(df_1, x="districts",y="RegisteredUser", title = "TOP 5 REGISTERED USER")
    fig_amount_1.show()


    #INSURANCE AMOUNT ASC
    query2 = f'''SELECT Districts, sum(RegisteredUser) as RegisteredUser
                    FROM phonepe_data.{table_name}
                    where states= {state}
                    group by districts
                    order by RegisteredUser asc
                    limit 5;'''
    cursor.execute(query2)
    table_2=cursor.fetchall()
    mydb.commit()

    df_2=pd.DataFrame(table_2, columns=("districts", "RegisteredUser"))
    fig_amount_2 = px.bar(df_2, x="districts",y="RegisteredUser", title = "LAST 5 REGISTERED USER")
    fig_amount_2.show()


    #INSURANCE AMOUNT AVERAGE
    query3 = f'''SELECT Districts, avg(RegisteredUser) as RegisteredUser
                    FROM phonepe_data.{table_name}
                    where states= {state}
                    group by districts
                    order by RegisteredUser;'''
    cursor.execute(query3)
    table_3=cursor.fetchall()
    mydb.commit()

    df_3=pd.DataFrame(table_3, columns=("districts", "RegisteredUser"))
    fig_amount_3 = px.bar(df_3, x="districts",y="RegisteredUser", title = "AVERAGE REGISTERED USER")
    fig_amount_3.show()

In [ ]:
top_chart_insurance_amount("aggregated_insurance")

In [ ]:
top_chart_insurance_count("aggregated_insurance")

In [12]:
# TRANSACTION YEAR BASED
def Transaction_amount_count_Y(df,year):
    tacy = df[df["Years"] == year] # Year df
    tacy.reset_index(drop=True, inplace = True)

    tacyg = tacy.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_amount = px.bar(tacyg, x="States",y="Transaction_amount", title = f"TRANSACTION AMOUNT-{year}")
    fig_amount.show()


    fig_count = px.bar(tacyg, x="States",y="Transaction_count", title = f"TRANSACTION COUNT-{year}")
    fig_count.show()

    # India's state wise latitude and longitude
    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data=json.loads(response.content)
    states_name=[]
    for feature in data["features"]:
        states_name.append(feature["properties"]["ST_NM"])
    states_name.sort()

    fig_india_1=px.choropleth(tacyg, geojson=data, locations="States", featureidkey="properties.ST_NM",
                              color="Transaction_amount", color_continuous_scale="Rainbow", range_color=(tacyg["Transaction_amount"].min(),tacyg["Transaction_amount"].min()),
                              hover_name="States", title=f"{year}TRANSACTION AMOUNT", fitbounds="locations")
    fig_india_1.update_geos(visible = False)
    fig_india_1.show()
    #Fit bounds --> Fit india from world map

    fig_india_2=px.choropleth(tacyg, geojson=data, locations="States", featureidkey="properties.ST_NM",
                              color="Transaction_count", color_continuous_scale="Rainbow", range_color=(tacyg["Transaction_count"].min(),tacyg["Transaction_count"].min()),
                              hover_name="States", title=f"{year}TRANSACTION COUNT", fitbounds="locations")
    fig_india_2.update_geos(visible = False)
    fig_india_2.show()

    return tacy

In [13]:
# For Quarter
def Transaction_amount_count_Y_Q(df,quarter):
    tacy = df[df["Quarter"] == quarter] # Year df
    tacy.reset_index(drop=True, inplace = True)

    tacyg = tacy.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_amount = px.bar(tacyg, x="States",y="Transaction_amount", title = f"{tacy["Years"].min()}-YEAR QUARTER-{quarter} TRANSACTION AMOUNT")
    fig_amount.show()


    fig_count = px.bar(tacyg, x="States",y="Transaction_count", title = f"{tacy["Years"].min()}-YEAR QUARTER-{quarter} TRANSACTION AMOUNT")
    fig_count.show()

    # India's state wise latitude and longitude
    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1=json.loads(response.content)
    states_name=[]
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])
    states_name.sort()

    fig_india_1=px.choropleth(tacyg, geojson=data1, locations="States", featureidkey="properties.ST_NM",
                              color="Transaction_amount", color_continuous_scale="Rainbow", range_color=(tacyg["Transaction_amount"].min(),tacyg["Transaction_amount"].min()),
                              hover_name="States", title=f"{tacy["Years"].min()}-YEAR QUARTER-{quarter} TRANSACTION AMOUNT", fitbounds="locations")
    fig_india_1.update_geos(visible = False)
    fig_india_1.show()
    #Fit bounds --> Fit india from world map

    fig_india_2=px.choropleth(tacyg, geojson=data1, locations="States", featureidkey="properties.ST_NM",
                              color="Transaction_count", color_continuous_scale="Rainbow", range_color=(tacyg["Transaction_count"].min(),tacyg["Transaction_count"].min()),
                              hover_name="States", title=f"{tacy["Years"].min()}-YEAR QUARTER-{quarter} TRANSACTION COUNT", fitbounds="locations")
    fig_india_2.update_geos(visible = False)
    fig_india_2.show()

    return tacy

In [14]:
#TRANSACTION TYPE
def Aggre_Tran_Transaction_type(df,state):
    tacy = df[df["States"] == state] # Year df
    tacy.reset_index(drop=True, inplace = True)

    tacyg = tacy.groupby("Transaction_type")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_pie_1 = px.pie(data_frame=tacyg, names= "Transaction_type", values= "Transaction_amount",
                    title= f"{state.upper()}-TRANSACTION AMOUNT", hole= 0.5) 
    fig_pie_1.show()

    fig_pie_2 = px.pie(data_frame=tacyg, names= "Transaction_type", values= "Transaction_count",
                    title= f"{state.upper()}-TRANSACTION COUNT", hole= 0.5) 
    fig_pie_2.show()

In [15]:
# AGGREGATED USER ANALYSIS
def Aggre_user_plot_1(df,year):
    aguy = df[df["Years"]==year]
    aguy.reset_index(drop=True, inplace =True)

    aguyg = pd.DataFrame(aguy.groupby("Brands")["Transaction_count"].sum())
    aguyg.reset_index(inplace = True)

    fig_bar_1 = px.bar(aguyg, x="Brands", y="Transaction_count", title=f"BRANDS & TRANSACTION COUNT-{year}")
    fig_bar_1.show()

    return aguy

In [16]:
# AGGREGATED USER ANALYSIS (QUARTER)
def Aggre_user_plot_2(df,quarter):
    aguyq = df[df["Quarter"]==quarter]
    aguyq.reset_index(drop=True, inplace =True)

    #Grouping
    aguyqg = pd.DataFrame(aguyq.groupby("Brands")["Transaction_count"].sum())
    aguyqg.reset_index(inplace=True)


    fig_bar_1 = px.bar(aguyqg, x="Brands", y="Transaction_count", title=f"BRANDS & TRANSACTION COUNT-QUARTER {quarter}")
    fig_bar_1.show()

    return aguyq

In [17]:
# AGGREGATED USER ANALYSIS (STATE WISE)
def Aggre_user_plot_3(df,state):
    auyqs = df[df["States"] == state]
    auyqs.reset_index(drop=True, inplace=True)

    fig_line_1 = px.line(auyqs, x="Brands", y="Transaction_count",
                        title=f"{state.upper()} - BRANDS, TRANSACTION COUNT", markers=True)
    fig_line_1.show()

In [18]:
#MAP INSURANCE DISTRICT
def Map_insur_District(df,state):
    tacy = df[df["States"] == state] # Year df
    tacy.reset_index(drop=True, inplace = True)

    tacyg = tacy.groupby("Districts")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_bar_1 = px.bar(tacyg, x="Districts", y="Transaction_amount",
                       title=f"{state.upper()} - DISTRICT AND TRANSACTION AMOUNT")
    fig_bar_1.show()

    fig_bar_2 = px.bar(tacyg, x="Districts", y="Transaction_count",
                       title=f"{state.upper()} - DISTRICT AND TRANSACTION COUNT")
    fig_bar_2.show()

In [19]:
#MAP TRANSACTION DISTRICT
def Map_tran_District(df,state):
    tacy = df[df["States"] == state] # Year df
    tacy.reset_index(drop=True, inplace = True)

    tacyg = tacy.groupby("District")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_bar_1 = px.bar(tacyg, x="District", y="Transaction_amount",
                       title=f"{state.upper()} - DISTRICT AND TRANSACTION AMOUNT")
    fig_bar_1.show()

    fig_bar_2 = px.bar(tacyg, x="District", y="Transaction_count",
                       title=f"{state.upper()} - DISTRICT AND TRANSACTION COUNT")
    fig_bar_2.show()

In [20]:
# MAP USER (YEAR)
def map_user_plot_1(df,year):   
    muy = df[df["Years"]==year]
    muy.reset_index(drop=True, inplace =True)

    muyg = muy.groupby("States")[["RegisteredUser","AppOpens"]].sum()
    muyg.reset_index(inplace = True)

    fig_line_1 = px.line(muyg, x="States", y=["RegisteredUser","AppOpens"],
                            title=f"REGISTERED USER & APPOPENS - {year}", markers=True)
    fig_line_1.show()

    return muy

In [21]:
# MAP USER (QUARTER)
def map_user_plot_2(df,quarter):   
    muyq = df[df["Quarter"]==quarter]
    muyq.reset_index(drop=True, inplace =True)

    muyqg = muyq.groupby("States")[["RegisteredUser","AppOpens"]].sum()
    muyqg.reset_index(inplace = True)

    fig_line_1 = px.line(muyqg, x="States", y=["RegisteredUser","AppOpens"],
                            title=f"REGISTERED USER & APPOPENS - Quarter {quarter}", markers=True)
    fig_line_1.show()

    return muyq

In [22]:
# MAP USER FOR REGISTEREDUSED & APPOPENS
def map_user_plot_3(df, states):
    muyqs = df[df["States"]==states]
    muyqs.reset_index(drop=True, inplace =True)

    fig_map_user_bar_1 = px.bar(muyqs,x="Districts", y = "RegisteredUser", 
                                title="REGISTERED USER",height=500)
    fig_map_user_bar_1.show()

    fig_map_user_bar_2 = px.bar(muyqs,x="Districts", y = "AppOpens", 
                                title="APP OPENS",height=500)
    fig_map_user_bar_2.show()

In [23]:
#TOP INSURANCE (1)
def Top_insurance_plot_1(df,state):
    tiy = df[df["States"]==state]
    tiy.reset_index(drop=True, inplace =True)

    fig_top_insur_bar_1 = px.bar(tiy,x="Quarter", y = "Transaction_amount", hover_data="Pincodes",
                                    title="TRANSACTION AMOUNT",height=800)
    fig_top_insur_bar_1.show()

    fig_top_insur_bar_2 = px.bar(tiy,x="Quarter", y = "Transaction_count", hover_data="Pincodes",
                                    title="TRANSACTION COUNT",height=800)
    fig_top_insur_bar_2.show()

In [24]:
#TOP USER
def top_user_plot_1(df,year):
    tuy = df[df["Years"]==year]
    tuy.reset_index(drop=True, inplace =True)

    tuyg = pd.DataFrame(tuy.groupby(["States","Quarter"])["RegisteredUsers"].sum())
    tuyg.reset_index(inplace = True)

    fig_top_plot_1=px.bar(tuyg, x="States",y="RegisteredUsers",color="Quarter",
                          title=f"REGISTERED USERS - {year}",hover_name="States")
    fig_top_plot_1.show()

    return tuy

In [25]:
# TOP USER STATE
def top_user_plot_2(df,state):
    tuys = df[df["States"]==state]
    tuys.reset_index(drop=True, inplace =True)

    fig_top_plot_2=px.bar(tuys, x="Quarter",y="RegisteredUsers", title="REGISTERED USERS,QUARTER, PINCODES",
                        hover_data="Pincodes",color="RegisteredUsers")
    fig_top_plot_2.show()

AGGREGATED INSURANCE

In [ ]:
tac_Y = Transaction_amount_count_Y(Aggre_insurance,2023)

In [ ]:
Transaction_amount_count_Y_Q(tac_Y,4)

AGGREGATED TRANSACTION

In [ ]:
Aggre_tran_tac_Y = Transaction_amount_count_Y (Aggre_transaction,2023)

In [ ]:
Aggre_Tran_Transaction_type(Aggre_tran_tac_Y, "Tamil Nadu")

In [ ]:
Aggre_tran_tac_Y_Q=Transaction_amount_count_Y_Q(Aggre_tran_tac_Y,3)

In [ ]:
Aggre_Tran_Transaction_type(Aggre_tran_tac_Y_Q, "Tamil Nadu")

AGGREGATED USER

In [ ]:
Aggre_user_Y= Aggre_user_plot_1(Aggre_user,2020)

In [ ]:
Aggre_user_Y_Q= Aggre_user_plot_2(Aggre_user_Y,3)

In [ ]:
Aggre_user_plot_3(Aggre_user_Y_Q, "Tamil Nadu")

MAP INSURANCE

In [ ]:
Map_insur_tac_Y=Transaction_amount_count_Y (Map_insurance,2023)

In [ ]:
Map_insur_District(Map_insur_tac_Y, "West Bengal")

In [ ]:
Map_insur_tac_Y_Q=Transaction_amount_count_Y_Q(Map_insur_tac_Y,3)

In [ ]:
Map_insur_District(Map_insur_tac_Y_Q, "Tamil Nadu")

MAP TRANSACTION

In [ ]:
Map_tran_tac_Y=Transaction_amount_count_Y (Map_transaction,2023)

In [ ]:
Map_tran_District(Map_tran_tac_Y, "West Bengal")

In [ ]:
Map_tran_tac_Y_Q=Transaction_amount_count_Y_Q(Map_tran_tac_Y,3)

In [ ]:
Map_tran_District(Map_tran_tac_Y_Q, "Tamil Nadu")

MAP USER

In [ ]:
Map_user_Y = map_user_plot_1(Map_user,2020)

In [ ]:
Map_user_Y_Q = map_user_plot_2(Map_user_Y,3)

In [ ]:
map_user_plot_3(Map_user_Y_Q, "Tamil Nadu")

TOP INSURANCE

In [ ]:
Top_insur_tac_Y=Transaction_amount_count_Y (Top_insurance,2023)

In [ ]:
Top_insurance_plot_1(Top_insur_tac_Y,"West Bengal")

In [ ]:
Top_insur_tac_Y_Q=Transaction_amount_count_Y_Q(Top_insur_tac_Y,3)

TOP TRANSACTION

In [ ]:
Top_tran_tac_Y=Transaction_amount_count_Y (Top_transaction,2023)

In [ ]:
Top_insurance_plot_1(Top_tran_tac_Y,"West Bengal")

In [ ]:
Top_tran_tac_Y_Q=Transaction_amount_count_Y_Q(Top_tran_tac_Y,3)

TOP USER

In [ ]:
Top_user_Y = top_user_plot_1(Top_user, 2021)

In [ ]:
top_user_plot_2(Top_user_Y, "Tamil Nadu")